.img-class{
    width: 5rem;
    height: 5rem;
}
.btn-black{
    background-color: transparent;
    text-transform: capitalize;
    font-size: 0.8rem;
    color: #000;
    border-radius: 0;
    border: 0.1rem #000 solid;
}
.btn-black:hover{
    background: #000;
    color: #fff;
}
.cart-icon{
    cursor: pointer;
    font-size: 1.2rem;
    color: #ffa400;
}