.mailed{
    width: 40%;
    height: 20%;
    margin-left: 40%;
}
.sign-in{
    box-shadow: 0px 0px 10px grey;
    width: 60%;
    margin: 50px auto;
    border-radius: 5%;
}
.pwd{
    width: 40%;
    height: 20%;
    margin-left: 40%;
}
.link{
    text-decoration: none;
    color: black;
    font-weight: 600;
}